---
permalink: /blog/
---
<!DOCTYPE html>
<html><head>
	<title>onat</title>
	<script type="text/javascript" src="/resources/js/onat.js"></script>
    <link rel="stylesheet" href="/resources/css/onat.css">
</head><body>
    
    <div id="content">

<!--  BLOG POSTS   -->

<h1>posts.</h1>
{% for post in site.posts %}
        <span>
            {{ post.message_1 }}
            {% if post.link %}<a href="{{ post.url }}">{{ post.link }}</a>{% endif %}
            {{ post.message_2 }}
        </span>
{% endfor %}

		</div>
</body>
</html>

