<!DOCTYPE html>
<html><head>
	<title>onat</title>
	<script type="text/javascript" src="/resources/js/onat.js"></script>
    <link rel="stylesheet" href="/resources/css/onat.css">
</head><body><div id="content">

<!--  SOCIAL   -->

<h1>onat.</h1>
{% assign social = site.social | sort:"order" %}
{% assign apps = site.apps | sort:"order" %}
{% assign pages = site.pages | sort:"order" %}

{% for post in social %}
        <span>
            {{ post.message_1 }}
            {% if post.link %}<a href="{{ post.url }}">{{ post.link }}</a>{% endif %}
            {{ post.message_2 }}
            {{ post.content }} <!-- content is here only, on purpose -->
        </span>
{% endfor %}


<!--  APPS   -->
<!--
<h1>apps.</h1>
{% for post in apps %}
        <span>
            {{ post.message_1 }}
            {% if post.link %}<a href="{{ post.url }}">{{ post.link }}</a>{% endif %}
            {{ post.message_2 }}
        </span>
{% endfor %}
-->	

<!--  PAGES   -->
<!--
<h1>pages.</h1>
{% for post in pages %}
    <span>
        {{ post.message_1 }}
        {% if post.link %}<a href="{{ post.url }}">{{ post.link }}</a>{% endif %}
        {{ post.message_2 }}
    </span>
{% endfor %}
-->

		</div>
	</div>
</body>
</html>

