<!DOCTYPE html>
<html>

<head>
	<title>onat</title>
	<script type="text/javascript" src="js/onat.js"></script>
    <link rel="stylesheet" href="css/onat.css">
</head>

<body>
	<div id="content">
			<h1>onatbas.</h1>

            {% for post in site.posts %}
                 {% if post.layout == "social" %}
              		  <span>{{ post.message }} </span>
         		 {% endif %}
        {% endfor %}

			<h1>apps.</h1>
				
            {% for post in site.posts %}
                 {% if post.layout == "app" %}
              		  <span>{{ post.message }} </span>
         		 {% endif %}
        {% endfor %}
	
			<h1>pages.</h1>
				
            {% for post in site.posts %}
                 {% if post.layout == "page" %}
              		  <span>{{ post.message }} </span>
         		 {% endif %}
        {% endfor %}
	
            <h1>blog.</h1>

            {% for post in site.posts %}
                 {% if post.layout == "blog" %}
                <span>{{ post.message }} </span>
          {% endif %}
        {% endfor %}



		</div>
	</div>
</body>


</html>

