<head>
        <meta charset="utf-8">
        <title>{{page.message_1}} {{page.link}} {{page.message_2}}</title>
        <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=5d4595f73387b20012d76518&product=" inline-share-buttons async="async"></script>

        <style>
                img{max-width: 50%; margin: auto;}
                .share{width: 50%; min-width: 400px;}
        </style>
                
</head>


<h1><a href="/blog/">blog</a> » {{page.message_1}} {{page.link}} {{page.message_2}}</h1>
<hr>
{{content}}





<i><a href="{{ page.url }}">{{ page.date | date: "%B %d, %Y" }} - {{ page.author }}</a></i>
<br />
<br />
<div class="share"><div class="sharethis-inline-share-buttons"></div></div>
						